.singlePost {
  flex: 9;
}

.singlePostWrapper {
  display: flex;
  flex-direction: column;
  padding: 20px;
  padding-right: 0;
}

.singlePostImg {
  width: 100%;
  height: 500px;
  border-radius: 5px;
  object-fit: cover;
}

.singlePostTitle {
  text-align: center;
  margin: 10px;
  font-size: 28px;
  font-family: "Lora", sans-serif;
}

.singlePostTitleInput {
  margin: 10px;
  font-size: 28px;
  font-family: "Lora", sans-serif;
  text-align: center;
  border: none;
  color: gray;
  border-bottom: 1px solid gray;
}

.singlePostTitleInput:focus {
  outline: none;
}

.singlePostEdit {
  float: right;
  font-size: 16px;
}

.singlePostIcon {
  margin-left: 10px;
  font-size: 1.2rem;
  cursor: pointer;
}

.singlePostIcon:first-child {
  color: teal;
}
.singlePostIcon:last-child {
  color: tomato;
}

.singlePostInfo {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  color: #be9656;
  font-family: "Varela Round", Arial, Helvetica, sans-serif;
  font-family: "Noto Serif SC", serif;
}

.singlePostAuthor {
  margin-left: 5px;
}

.singlePostDesc {
  color: #666;
  font-size: 18px;
  line-height: 25px;
}

.singlePostDesc::first-letter {
  margin-left: 20px;
  font-size: 30px;
  font-weight: 600;
}

.singlePostDescInput {
  border: none;
  color: #666;
  font-size: 18px;
  line-height: 25px;
}

.singlePostDescInput :focus {
  outline: none;
}

.singlePostButton {
  width: 100px;
  border: none;
  background-color: teal;
  padding: 5px;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  align-self: flex-end;
  margin-top: 20px;
}

.likeIcon {
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.likeIcon2 {
  width: 30px;
  height: 30px;
  cursor: pointer;
  color: rgb(236, 58, 58);
}
.postLikeButton {
  align-self: flex-end;
  margin-top: 20px;
}
.postLikeCounter {
  font-size: 15px;
}
.postInputGroup {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.tagInput {
  width: 10vw;
}

@media screen and (min-width: 300px) and (max-width: 1080px) {
  .singlePost {
    display: flex;
  }
  .singlePostWrapper {
    display: flex;
    flex-direction: column;
    padding: 2px;
    width: 390px;
  }
  .singlePostImg {
    width: 100%;
    height: 300px;
    border-radius: 5px;
    object-fit: cover;
  }
}
